auditnow-api/.vs/
.vscode
.suo
auditnow-api/bin
auditnow-api/obj
auditnow-api/v17
auditnow-api/v16
auditnow-api/AuditNow.Api/obj/
auditnow-api/AuditNow.Api/bin/
auditnow-api/AuditNow.Core/obj/
auditnow-api/AuditNow.Core/bin/
auditnow-api/AuditNow.Data/obj/
auditnow-api/AuditNow.Data/bin/
auditnow-api/AuditNow.Services/obj/
auditnow-api/AuditNow.Services/bin/